:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(16, 16, 16, 1);
  --color-grey: rgba(134, 134, 134, 1);
  --color-primary: #d1d0f9;
  --color-secondary: #6368d9;

  --default-gap: 30px;
}
