@use "fonts";
@use "variables";
@use "normalize.css";
@use "typography";

::selection {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--color-white);
  overflow-y: scroll;
  overflow-x: clip;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;

  &-head {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.flex-item {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
}

.gap-10 {
  gap: 10px;
}